body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Lora', serif;
  background-color:  #e0f5ff  ;
}

.background-text-box{
  /*blue*/
  background-color:  #C8E2F9 ;
}

figcaption {
  background-color: #9CA1A4;
}

p{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

li{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

h6 {
  background-color: #9CA1A4 ;
}
